body {
    background-color: #777;
    margin: auto;
    color: #777;
    width: 960px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    width: 100%;
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}


nav {
    width: 100%;
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}


nav {
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}


body #section {
    width: 495px;
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    float: left;
}

body #section #article {
    background-color: #777;
    color: #ebebeb;
    padding: 30px;
    margin-top: 20px;
}

body #section #article #h {
    background-color: #ebebeb;
    color: #777;
    padding: 10px;
    margin-top: 20px;
}

body #section #article #p {
    background-color: #ebebeb;
    color: #777;
    padding: 10px;
    margin-top: 10px;
}

body #aside {
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: 10px;
    padding-bottom: 238px;
    display: inline-block;
    width: 35%;
    float: left;
    overflow: auto;
}



footer {
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    float: left;
    width: 100%;
}

