body {
    background-color: #777;
    margin: auto;
    color: #777;
    width: 960px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    clear: both;
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}


nav {
    clear: both;
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}


nav {
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}


body #section {
    width: 495px;
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}


body #section #article {
    background-color: #777;
    color: #ebebeb;
    margin-top: 10px;
    padding: 45px;
}


body #section #article #h {
    background-color:#ebebeb;
    color: #777;
    margin-top: 10px;
    padding: 25px;
}


body #section #article #p {
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    padding: 25px;
}

 body aside {
     background-color: #ebebeb;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 10px;
     float: right;
     padding: 25px;
     width: 350px;
     padding-bottom: 308px;
 }

 footer {
     padding: 25px;
     background-color: #ebebeb;
     clear: both;
 }